* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #ebc4a4;
}
         /* header */
#navbar {
    height: 80px;
    background-color: #c1eec1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar a {
    height: 50px;
    width: 100px;
    background-color: rgb(230, 162, 190);;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 1s;
}
#navbar a:hover {
    background-color: #c59ae9;
}
#inp input {
    padding-left: 10px;
    font-weight: bolder;
    height: 25px;
    width: 300px;
    border-radius: 5px;
}
#inp button {
      height: 28px;
      width: 80px;
      background-color:#9feeda;
      font-weight: bold;
      border-radius: 5px;
}
           /* main */

#img1 img {
    height: 300px;

}   
#img1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}   
#img1defination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}   
#img1defination b {
    text-transform: capitalize;

}  
#img2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;

}
#img2 img {
    height: 300px;
}
#img2defination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#img2 b {
    text-transform: capitalize;
}
        /* footer */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 30px 0px;
}        
#footer b {
    text-transform: capitalize;
    font-size: x-large;
}   
#img3 img {
    height: 300px;

}  

#img3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
#img3defination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}
#defiimg33 {
    padding-right: 60px;
}
#defiimg34 {
    padding-right: 300px;

}
@media screen and (max-width:900px){
    /* navbar */
    #navbar {
        display: flex;
        justify-content: space-evenly;
        width: 900px;


    }
    #navbar a {
        height: 50px;
        width: 100px;
        display: flex;
        align-items: center;
        align-items: center;


    }
    #inp input {
        width: 300px;
        height: 19px;

    }
    #img1 img {
        height: 200px;
        margin-top: 20px;
        margin: 0px 30px 0px 30px;

    }
    #img1 {
        display:flex;
        justify-content: space-around;
        align-items: center;

    }
    #img1defination  {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    
    


}