* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #ebc4a4;
}
         /* header */
#navbar {
    height: 80px;
    background-color: #c1eec1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar a {
    height: 50px;
    width: 100px;
    background-color: rgb(230, 162, 190);;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 1.5s;
    
}
#navbar a:hover {
    background-color: #fff;
}
#inp input {
    padding-left: 10px;
    font-weight: bolder;
    height: 25px;
    width: 300px;
    border-radius: 5px;
    
}

#inp button {
      height: 30px;
      width: 50px;
      border-radius: 5px;
      background-color:#9feeda;
      font-weight: bold;
      transition-property: all;
      transition-duration: 1.5s;
      
}
#inp button:hover {
    background-color: #fff;
}
.navbar_section {
    height: 40px;
    background-color: #2b2a2a;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar_section_women a {
    text-decoration: none;
    color: #fff;
}
.navbar_section_women select {
    width: 20px;
}
.navbar_section_men a {
    text-decoration: none;
    color: #fff;
}
.navbar_section_men select {
    width: 20px;
}
.navbar_section_electronic a {
     text-decoration: none;
     color: #fff;

}
.navbar_section_electronic select {
    width: 20px;
}
           /* main */

#img1 img {
    height: 300px;

}   
#img1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}   
#img1defination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}   
#img1defination b {
    text-transform: capitalize;

}  
#img2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;

}
#img2 img {
    height: 300px;
}
#img2defination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#img2 b {
    text-transform: capitalize;
}
        /* footer */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 30px 0px;
}        
#footer b {
    text-transform: capitalize;
    font-size: x-large;
}   
#img3 img {
    height: 300px;

}  

#img3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
#img3defination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

@media screen and (max-width:900px){
    /* navbar */
    #navbar {
        display: flex;
        justify-content: space-evenly;
        width: 900px;


    }
    #navbar a {
        height: 50px;
        width: 100px;
        display: flex;
        align-items: center;
        align-items: center;


    }
    #inp input {
        width: 300px;
        height: 19px;

    }
    #img1 img {
        height: 200px;
        margin-top: 20px;
        margin: 0px 30px 0px 30px;

    }
    #img1 {
        display:flex;
        justify-content: space-around;
        align-items: center;

    }
    #img1defination  {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }
    #img2 img {
        height: 200px;
        
    }
    #img2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 900px;
        margin-top: 200px;

    }
    #img3 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 900px;
        margin-top: 200px;

    }
    #img1defination ,
    #img2defination ,
    #img3defination {
        display: flex;
        justify-content: space-evenly;
        width: 900px;
    }
    #footer {
        width: 900px;
        text-align: center;
    }
    .navbar_section {
        display: flex;
        justify-content: space-evenly;
        width: 900px;
    }
    
    


}