* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

         /* header */
#navbar {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.profile-contact {
    font-size: 30px;
    background-color: #fff;
}
.profile-aboutus {
    font-size: 30px;
    background-color: #fff;
}
.profilelogo {
    font-size: 30px;
}
#navbar a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-radius: 15px;
}

#inp input {
    padding-left: 10px;
    font-weight: bolder;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    
}

#inp button {
      height: 30px;
      width: 50px;
      border-radius: 5px;
      background-color:#9feeda;
      font-weight: bold;
      transition-property: all;
      transition-duration: 1.5s;
      
}
#inp button:hover {
    background-color: #fff;
}
.navbar_section {
    height: 40px;
    background-color: #6b6b6b;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar_section_women a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.navbar_section_women select {
    width: 20px;
}
.navbar_section_men a {
    text-decoration: none;
    color: #fff;
     font-weight: bold;
}
.navbar_section_men select {
    width: 20px;
}
.navbar_section_electronic a {
     text-decoration: none;
     color: #fff;
      font-weight: bold;

}
.navbar_section_electronic select {
    width: 20px;
}
           /* main */

#img1 img {
    height: 300px;

}   
#img1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}   
#img1defination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}   
#img1defination b {
    text-transform: capitalize;

}  
#img2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;

}
#img2 img {
    height: 300px;
}
#img2defination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#img2 b {
    text-transform: capitalize;
}
        /* footer */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 30px 0px;
}        
#footer b {
    text-transform: capitalize;
    font-size: x-large;
}   
#img3 img {
    height: 300px;

}  

#img3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
#img3defination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

@media screen and (max-width: 500px) {

  #navbar a {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }

  #inp {
    display: flex;
  }

  #inp input {
    width: 180px;
  }

  /* single column products */
  #img1, #img2, #img3 {
    grid-template-columns: 1fr;
  }

  #img1defination,
  #img2defination,
  #img3defination {
    grid-template-columns: 1fr;
  }

  #footer b {
    font-size: large;
  }
}
